<!DOCTYPE html>
<html>
<head>
    <title>Student Average Score Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <h2>🎓 Student Score Prediction System</h2>
</div>

<div class="container">

    <h1>Welcome</h1>

    <p>
        This Machine Learning project predicts the average score of a student
        based on demographic and educational information.
    </p>

    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135755.png"
    class="home-img">

    <br><br>

    <a href="/predict">
        <button>Start Prediction</button>
    </a>

</div>

</body>
</html>